.text_area_control_btn_div,
.text_area_control_btn_div>a
{
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.btn_img
{
    height: 15px;
    border-radius: 5px;
}

.no-border
{
    border-style: none;
}

.text_area_style
{
    border-style: solid;
    border-radius: 5px;
    border-color: #C2B8B2;

    background-color: #f7f7f9;
    min-height: 38px;
    /* resize: none; */
    overflow-x: hidden;
    overflow-y: hidden;
}

#attach_btn, #send_btn
{
    height: 38px;
    margin-top: 10px;
}

#content
{
    position: absolute;
    background-color: #F7F7F9;

    top: 54px;
    bottom: 64px;

    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
}

._c_textbox_container
{
    background-color: #fff;

    width: 100%;
    min-height: 60px;
    border-radius: 5px;

    box-shadow: 0px 0px 10px 1px #C2B8B2; /* h-offset v-offset blur spread color */
    margin-bottom: 3rem;
}

._c_textbox_top_menu_container
{
    width: 100%;
    height: 54px;

    background-color: #C2B8B2;
    border-radius: 5px;
}

._c_attachemntbox_container
{
    background-color: white;

    width: 100%;
    min-height: 60px;
    border-radius: 5px;

    box-shadow: 0px 0px 10px 1px #C2B8B2; /* h-offset v-offset blur spread color */
    margin-bottom: 3rem;
}

._c_attachemntbox_top_menu_container
{
    width: 100%;
    height: 54px;

    background-color: #9D8CA1;
    border-radius: 5px;
}

.loading_animation {
    -webkit-animation: rotation 2s infinite linear;
}

.pulse_animation
{
     animation: shadow-pulse 2s infinite;
}

.full_opacity
{
    opacity: 1.0 !important;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
     }
}