{% extends "basic_app/html/includes/_chat_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
    <link href="{% static 'basic_app/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="content">
    <div id="content_container" class="container p-5">
        <!-- ------------------ -->

        <template id="_c_textbox_template">
            <div class="_c_textbox_container" id="_c_textbox__${id}">
                <div class="_c_textbox_top_menu_container justify-content-between justify-content-center d-flex">
                    <a href="#" class="btn btn-outline-light no-border m-2" id="copy_btn_${id}">
                        <img id="copy_btn_img_${id}" class="btn_img" src="{% static 'icons/brown/copy-content.svg' %}" alt="Copy">
                    </a>
                    <a href="#" class="btn btn-outline-light no-border m-2" id="download_btn_${id}">
                        <img id="download_btn_img_${id}" class="btn_img" src="{% static 'icons/brown/download.svg' %}" alt="Download">
                    </a>
    
                    <a href="#" class="btn btn-outline-light no-border m-2" id="delete_btn_${id}">
                        <img id="delete_btn_img_${id}" class="btn_img" src="{% static 'icons/red/rubbish-bin.svg' %}" alt="Delete">
                    </a>
    
                    <a href="#" class="btn btn-outline-light no-border m-2" id="status_indicator_${id}">
                        <img id="status_indicator_img_${id}" class="btn_img" src="{% static 'icons/red/refresh-button.svg' %}" alt="Status">
                    </a>
                    <!-- <a href="#" class="btn btn-outline-light m-2" id="status_btn">
                        <img id="delete_btn_img" class="btn_img" src="{% static 'icons/close.svg' %}" alt="Send">
                    </a> -->
                </div>

                <div class="p-3 px-5">
                    <div class="form-group m-0">
                        <textarea name="text_area_${id}" id="text_area_${id}" class="w-100 br-3 text_area_style" rows=1></textarea>
                    </div>
                </div>
            </div>
        </template>

        <template id="_c_attachemntbox_template">

            <div class="_c_attachemntbox_container" id="_c_attachemntbox__${id}">
                <div class="_c_attachemntbox_top_menu_container justify-content-between justify-content-center d-flex">
                    <a href="#" class="btn btn-outline-light no-border m-2" id="download_btn_${id}">
                        <img id="download_btn_img_${id}" class="btn_img" src="{% static 'icons/brown/download.svg' %}" alt="Download">
                    </a>
    
                    <a href="#" class="btn btn-outline-light no-border m-2" id="delete_btn_${id}">
                        <img id="delete_btn_img_${id}" class="btn_img" src="{% static 'icons/red/rubbish-bin.svg' %}" alt="Delete">
                    </a>
    
                    <a href="#" class="btn btn-outline-light no-border m-2" id="status_indicator_${id}">
                        <img id="status_indicator_img_${id}" class="btn_img loading_animation" src="{% static 'icons/red/refresh-button.svg' %}" alt="Status">
                    </a>
                </div>

                <div class="p-3 px-5">
                    <div class="form-group m-0">
                        <!-- <label for="text_area_${id}">Attachment</label> -->
                        <input type="text" class="form-control" id="text_area_${id}" class="w-100 br-3 text_area_style" placeholder="Rename Attachment">
                        <small id="text_area_help_${id}" class="form-text text-muted">attachment.txt</small>
                    </div>
                </div>
            </div>
            
        </template>

        <!-- ------------------ -->
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'basic_app/js/support_function.js' %}"></script>
    <script src="{% static 'basic_app/js/template_objects.js' %}"></script>
    <script src="{% static 'basic_app/js/index.js' %}"></script>
{% endblock %}