{% load static %}
<div id="top_navbar">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container justify-content-between justify-content-center h-100 d-flex my-auto">
            <div class="justify-content-center h-100 d-flex my-auto">
                <span class="text-white my-auto"><a class="navbar-brand" href="{% url 'index' %}"><h5 class="m-0">G Clipboard</h5></a></span>
                <!-- <a class="navbar-brand" href="{% url 'index' %}"><img style="width: 30px" src="{% static 'icons/icon_white.png' %}" alt="Project Brand"></a> -->
            </div>
            
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </nav>
</div>