{% extends "basic_app/html/includes/_basic_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
{% endblock %}

{% block body %}

<div class="h-100 w-100">
    {% include 'basic_app/html/includes/_chat_top_nav.html' %}

        {% block content %}
        {% endblock %}

    {% include 'basic_app/html/includes/_chat_bottom_nav.html' %}

    {% include 'basic_app/html/includes/_footer.html' %}
    {% block scripts %}
    {% endblock %}
</div>

{% endblock %}